.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  row-gap: 20px;
  font-family: sans-serif;
}

.sidebar {
  grid-area: n;
}

.app-content {
  grid-area: c;
  /* background-color: rgb(240, 240, 240); */
}

.titlepages{
  grid-area: tp;
  padding: 10px;
  font-size: 28px;
}
